{% extends 'base.html.twig' %}


{% block title %}Confirm{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}



    <div class="container">
        <div class="row bg-dark text-warning mt-5 p-4">
                <div class="col-12 col-xl-10 mx-auto">

                    <p class="section__text">Thank you for registration, We have sent you a  confirmation mail to your email.
                    Please confirm your email on the confimation link.
                    </p>

                  
                </div>
        </div>
    </div>

{% endblock %}