{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block content %}

    

    <div class="p-5 text-warning bg-dark w-75 mx-auto rounded-3 text-center" style="margin-top: 5rem">
      <div class="container-fluid py-5">
        <h1 class="text-warning fw-bold">Thank You For Your Order</h1>
        <p class=" fs-4  text-center">
        Your order will be served shortly. If you want to add more order you can open the menu again.
        </p>
      </div>
    </div>

{% endblock %}

